body{
	background:#3e4147;
	margin-top:50px;
	font: 15px "Trebuchet MS";
	color:#c0c0c0;

}

.block{

	width:1050px;
	margin:0px auto;
}

h1{
	font-size:40px;
	margin:0px;
	text-transform:uppercase;
	margin-top:20px;
	color:#f2f2f2;
}

h2{
	font-size:25px;
	margin:0px;
	margin-top:50px;
	color:#f2f2f2;
}

p{
	width:100%;
}

.map{
	background:transparent;
	float:left;
	width:1000px;
	height:800px;
	margin-left: -350px;
}

.graphBox{
	clear:both;
	margin-top:-30px;
	/*overflow-x:scroll;*/
	width:100%;
	/*background-color:rgba(255,255,255,0.1);*/
}
.graph{
	margin:0px 20px 0px 5px;
}

.right{
	float:left;
	margin:0px 0px 0px 50px;
	width:35%;

}

.status{
	height:100px;
}



.date{
	text-align:right;
}




button:hover{
	cursor:pointer;
}

path:hover{
	cursor:pointer;
}

circle:hover{
	cursor:pointer;
}

.pieSlice:hover{
	cursor:pointer;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#my_dataviz {
	width: 200px;
	height: 50%;
}

/* .path .pieSlice {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	opacity: 0;
	transition: opacity 0.3s;
}

.path .pieSlice::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.path:hover .pieSlice {
	visibility: visible;
	opacity: 1;
} */